<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>Module code</th>
				<th>Module week beginning</th>
				<th>Module length (weeks)</th>
				<th>Module delivery key</th>
			</tr>
		</thead>
		<tbody>
		{{#courses}}
			<tr>
				<td>{{module_code}}</td>
				<td>{{module_week_beginning}}</td>
				<td>{{module_length}}</td>
				<td class="module_delivery_key">{{module_delivery_key}}</td>
			</tr>
		{{/courses}}
		</tbody>
	</table>
</div>