.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
}
.bw-gradient(@color: #F5F5F5, @start: 0, @stop: 255) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, rgb(@start,@start,@start)),
                               color-stop(1, rgb(@stop,@stop,@stop)));
  background: -ms-linear-gradient(bottom,
                                  rgb(@start,@start,@start) 0%,
                                  rgb(@start,@start,@start) 100%);
  background: -moz-linear-gradient(center bottom,
                                   rgb(@start,@start,@start) 0%,
                                   rgb(@stop,@stop,@stop) 100%);
}
.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
}
.transition-duration(@duration: 0.2s) {
  -moz-transition-duration: @duration;
  -webkit-transition-duration: @duration;
  transition-duration: @duration;
}

.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
  -webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}
.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}


.dataTable {
	clear: both;
	max-width: 893px !important;
	min-width: 849px !important;
}

#filter-status {
	display: none;
}

.blockOverlay[style] {
    background: #666 url(../../rollover/scripts/css/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat !important;
}

.blockMsg[style] {
    border-width: 1px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ui-dialog {
    background: #fff !important;
    border: 1px solid #E3E3E3 !important;
    padding: 0px !important;
}

.ui-dialog .ui-widget-header {
    padding: 0.6em 1em !important;
    background: #efefef;
    border: 1px solid #fff;
    color: #6f6f6f;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ui-widget-header .ui-icon {
    background-image: url(../scripts/css/ui-lightness/images/ui-icons_222222_256x240.png) !important;
}

.ui-widget-header .ui-state-hover {
    background: #c6c6c6 !important;
    border: 1px solid #e3e3e3 !important;
}

.ui-widget-header .ui-state-hover .ui-icon {
    background-image: url(../scripts/css/ui-lightness/images/ui-icons_ffffff_256x240.png) !important;
}

.ui-widget-content {
    border: none !important;
    border-top: 1px solid #e3e3e3 !important;
    color: #6f6f6f !important;
}

.ui-dialog .ui-dialog-buttonpane {
    background: #fff !important;
    border: none !important;
    -webkit-border-bottom-right-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
    -moz-border-radius-bottomright: 4px !important;
    -moz-border-radius-bottomleft: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}


.blockui_loading{
    padding: 60px 20px 30px;
    background: url('../images/loading.gif') no-repeat center 30px;
}

#da_wrapper {
	clear: both;

	#dapage_app {
		width: 82%;
		border: 1px solid #e3e3e3;
		.border-radius(5px, 0px, 5px, 5px);
		float:left;
		margin-bottom: 60px;

		#options_bar {
			clear: both;
			padding: 20px;
			height: 34px;
			.border-radius(5px, 0, 0, 5px);
			.gradient(#efefef, #e9e9e9, #efefef);
			border-color: #fff #fff #e3e3e3 #fff;
			border-style: solid;
			border-width: 1px;

			ul#status_toggle {
				clear: left;
				margin: 0px;
				float: left;
				margin-top: 10px;
				font-size: 12px;

				li {
					list-style: none;
					float: left;
					padding-right: 20px;
					position: relative;

					input {
						margin: 0px;
					}

					input[type=checkbox] {
						position: absolute;
						left: -999em;
					}

					input[type=checkbox] + label {
						display: block;
						height: 20px;
						padding: 3px 0 0 40px;
						background: url(../images/checkbox_empty.png) top left no-repeat;
						color: #777;
						text-shadow: 0 1px 1px #fff;
					}

					input[type=checkbox]:checked + label {
						background-image: url(../images/checkbox_tick.png);
					}
				}
			}

			#dasearch {
				float: right;
				max-width: 170px;

				input {
					width: 90%;
				}
			}
		}

		#datable_wrapper {
			position: relative;

			#datable_processing {
				display: none;
			}

			#datable_length {
				display: none;
			}

			.dataTables_paginate {
				border: 1px solid #214587;
				.gradient(#27519f, #214587, #27519f);
				padding: 10px;
				position: absolute;
				bottom: -42px;
				right: -1px;
				color: #fff;
				.border-radius(0px, 5px, 5px, 0px);

				a {
					margin: 0 10px;
					padding: 5px 10px;
					cursor: pointer;
				}

				a:hover {
					background-color: #C5D2E8;
					color: #27519f;
					.rounded(5px);
					text-decoration: none;
				}

				.paginate_active {
					background-color: #fff;
					color: #27519f;
					.rounded(5px);
				}
			}

			#statusbox {
				width: 500px;
				cursor: pointer;
				padding: 5px 10px;
				margin-top: 25px;
				text-align: center;
				background: #f9edbe;
				border: 1px solid #f0c36d;
				position: absolute;
				left: 25%;
				z-index: 1000;
			}

			.dataTables_filter {
				display: none;
			}

			#datable {
				border-collapse: inherit;
				margin-bottom: 0px;

				thead {

					tr {
						background-color: #fafafa;
						border-color: #fff #fff #e3e3e3 #fff;
						border-style: solid;
						border-width: 1px;

						th {
							color: #333;
							font-weight: normal;
							font-size: 14px;
							text-shadow: 0 1px 1px #fff;
						}
					}

					.code {
						width: 10% !important;
					}

					.name {
						width: 22% !important;
					}

					.campus {
						width: 10% !important;
					}

					.duration {
						width: 5% !important;
					}

					.students {
						width: 5% !important;
					}

					.version {
						width: 5% !important;
					}

					.status {
						width: 15% !important;
					}

					.toolbar {
						width: 15% !important;
					}
				}

				tbody {
						
						tr.parent {
							.gradient(#f5f5f5, #eee, #f5f5f5);

							td {
								padding: 10px;
								border-top: 1px solid #fff;
								border-bottom: 1px solid #e3e3e3;
								color: #6f6f6f;
								text-shadow: 0 1px 1px #fff;
							}

							td:first-child {
								border-left: 1px solid #fff;
							}

							td:last-child {
								border-right: 1px solid #fff;
							}

							.duration {
								text-align: center;
							}

							.students {
								text-align: center;
							}

							.version {
								text-align: center;
							}

							td.status {
								text-align: right;
								padding-right: 20px;
								font-weight: bold;

								div {
									text-align: left;
									padding-left: 35px;
									background-position: 10px center;
									background-repeat: no-repeat;
									text-shadow: 0 1px 1px #fff;
								}

								.status_unprocessed {
									color: #689351;
									background-image: url(../images/status_new.png);
								}

								.status_scheduled {
									color: #AA9946;
									background-image: url(../images/status_pending.png);
								}

								.status_processing {
									color: #AA9946;
									background-image: url(../images/status_pending.png);
								}

								.status_created_in_moodle {

									background-image: url(../images/status_active.png);
									color: #7895C0;
								}

								.status_failed_in_moodle {

									background-image: url(../images/status_error.png);
									color: #D38D77;
								}

							}

							td.toolbar {
								clear: right;

								.toolbar_link {
									margin-left: 10px;
								}

								.created_link {
									background-image: url(../images/web.png);
									cursor: pointer;
									width: 16px;
									height: 16px;
									display: block;
									float: right;
								}

								.created_link:hover {
									background-image: url(../images/web-hover.png);
								}

								.edit_row {
									background-image: url(../images/edit.png);
									width: 16px;
									height: 16px;
									float: right;
								}

								.edit_row:hover {
									background-image: url(../images/edit-hover.png);
								}

								.child_expand.open {
									background-image: url(../images/switch_plus.png);
									width: 16px;
									height: 16px;
									float: right;
								} 

								.child_expand.open:hover {
									opacity: 0.5;
									-moz-opacity: 0.5;
									filter:alpha(opacity=5);
								} 

								.child_expand.close {
									background-image: url(../images/switch_minus.png);
									width: 16px;
									height: 16px;
									float: right;
								} 

								.child_expand.close:hover {
									opacity: 0.5;
									-moz-opacity: 0.5;
									filter:alpha(opacity=5);
								} 
							}

							td.sorting_1 {
								background: #e9e9e9;
							}
						}

						tr.row_selected {
							.gradient(#B0BBCD, #A7B2C3, #B0BBCD);
							color: #fff;
							text-shadow: none;

							td {
								.gradient(#B0BBCD, #A7B2C3, #B0BBCD);
								color: #fff;
								text-shadow: none;
							}

							td.sorting_1 {
								.gradient(#B0BBCD, #A7B2C3, #B0BBCD);
								color: #fff;
								text-shadow: none;
							}
						}

						tr:last-child {

							td {
								border-bottom: 1px solid #fff;
							}

							td:first-child {
								.border-radius(0, 0,5px, 0);
							}

							td:last-child {
								/*.border-radius(0, 5px, 0, 0);*/
							}
							

						}

						tr.parent:hover {
							cursor: pointer;
							.gradient(#efefef, #e9e9e9, #efefef);

							td {
								.gradient(#efefef, #e9e9e9, #efefef);
							}
						}

						tr.row_selected:hover {
							cursor: pointer;
							.gradient(#C9D5EA, #C2CEE2, #C9D5EA);

							td {
								.gradient(#C9D5EA, #C2CEE2, #C9D5EA);
							}
						}

						tr {

							
							td.merged {
								background: #6f6f6f url('../images/noise.png') repeat;
								color: #eee;
								border: none;
								padding: 0px;

								table {
									margin-bottom: 0px;
									width: 100%;

									td {
										border: none;
										padding: 0.5em;

										.unlink_child {
											background-image: url(../images/cross_red_big.png);
											width: 16px;
											height: 16px;
											cursor: pointer;
										}
									}
								}
							}
						}
				}

				tfoot {
					display: none;
				}
			}

			#datable_info {
				display: none;
			}
		}
	}

	#jobs_wrapper {
		float: right;
		border: 1px solid #e3e3e3;
		.rounded(5px);
		width: 15%;

		#select_buttons {
			.border-radius(5px, 0, 0, 5px);	
			border-bottom: 1px solid #E3E3E3;
			padding: 10px;
			clear: both;
			height: 25px;

			.sel_btn {
				width: 48%;
				text-align: center;
				font-size: 12px;
				color: #999;
				border: 1px solid #E3E3E3;
				.gradient(#F5F5F5, #ddd, #f5f5f5);
				height: 20px;
				padding-top: 5px;
				padding-left: 2px;
				cursor: pointer;
			}

			.sel_btn:hover {
				color: #fff;
				border: 1px solid #214587;
				.gradient(#27519f, #214587, #27519f);
			}

			.sel_btn:active {
				color: #fff;
				border: 1px solid #1C3B74;
				.gradient(#1E3E7A, #1C3B74, #1E3E7A);
			}

			#select_all {
				margin: 0px;
				float: left;
				.border-radius(0, 0, 3px, 3px);
				border-right: none;
			}

			#deselect_all {
				.border-radius(3px, 3px, 0, 0);
				float: left;
			}
		}

		#jobs {
			text-align: center;
			.gradient(#efefef, #e9e9e9, #efefef);
			border-color: #fff #fff #e3e3e3 #fff;
			border-style: solid;
			border-width: 1px;
			padding: 10px;

			.job_number_text {
				color: #6f6f6f;
				text-shadow: 1px 1px 0px #fff;
			}

			#job_number {
				font-size: 45px;
				font-weight: bold;
				color: #27519F;
				text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px 0px;
			}

			#display_list_toggle {
				border-bottom: 1px solid #dbdbdb;
				cursor: pointer;
				width: 80%;
				margin: 0 auto;
				margin-top: 10px;
				margin-bottom: 5px;
				position: relative;

				button {
					color: #6f6f6f;
					font-size: 12px;
					margin: 0px;
					background: transparent;
					border: none;
				}

				.arrow_border {
					border-color: #DBDBDB transparent transparent transparent;
					border-color: #DBDBDB rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0);
					border-style: solid;
					border-width: 10px;
					width: 0px;
					height: 0px;
					position: absolute;
					left: 42%;
					top: 19px;
				}

				.arrow_light {
					border-color: #e9e9e9 transparent transparent transparent;
					border-color: #e9e9e9 rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0);
					border-style: solid;
					border-width: 10px;
					width: 0px;
					height: 0px;
					position: absolute;
					left: 42%;
					top: 17px;
				}
			}

			#display_list_toggle:hover {
				border-bottom: 1px solid #d4d4d4;

				p {
					color: #333;
				}

				.arrow_border {
					border-color: #d4d4d4 transparent transparent transparent;
					border-color: #d4d4d4 rgba(255,255,255,0) rgba(255,255,255,0) rgba(255,255,255,0);
				}
			}

			ul {
				display: none;
				margin: 0px;
				li {
					list-style: none;
					text-align: left;
					color: #6f6f6f;
					font-weight: bold;
					padding: 5px 10px;
				}

				.empty_deliv {
					text-align: center;
					font-size: 12px;
					font-weight: normal;
					padding: 10px;
				}
			}
		}

		#process_jobs {
			padding: 10px;

			#submit_message {
				border-width: 1px;
				border-style: solid;
				text-align: center;
				font-size: 12px;
				margin-bottom: 5px;
				display: none;
			}

			#submit_message.error {
				background-color: #f9e8e8;
				border-color: #a12a2a;
				color: #a12a2a;
			}

			#push_deliveries, #merge_deliveries {
				width: 48%;
				font-size: 12px;
				color: #fff;
				cursor: pointer;
				border: 1px solid #214587;
				.gradient(#27519f, #214587, #27519f);
				.rounded(3px);
				height: 46px;

				span {
					width: 100%;
					font-size: 16px;
					font-weight: bold;
					display: block;
				}
			}

			#merge_deliveries {
				float: right;
			}

			#push_deliveries[disabled=disabled], #merge_deliveries[disabled=disabled] {
				cursor: default;
				color: #999;
				border: 1px solid #E3E3E3;
				.gradient(#F5F5F5, #ddd, #f5f5f5);
			}

			#push_deliveries.loading, #merge_deliveries.loading {
				cursor: pointer;
				color: #fff;
				border: 1px solid #214587;
				.gradient(#27519f, #214587, #27519f);
				cursor: default;
			}

			#push_deliveries.success, #merge_deliveries.success {
				color: #689351;
				border: 1px solid #C8F9BB;
				.gradient(#EFF9E2, #E1F9D2, #EFF9E2);
				cursor: default;
			}

			#push_deliveries.error, #merge_deliveries.error {
				color: #A12A2A;
				border: 1px solid #A12A2A;
				.gradient(#F9E8E8, #F9D1CC, #F9E8E8);
				cursor: default;
			} 
		}
	}
}

#dialog-form {
	#shortname {
		width: 374px;
	}

	#fullname {
		width: 447px;
	}

	#synopsis {
		padding: 8px;
		width: 447px;
		height: 130px;
	}
}

.ui-button {
	padding: 0.4em 1em !important;

	span {
		padding: 0px !important;
	}
}

.ui-button.error {
	padding: 0.4em 1em;
	background: #f9e8e8 !important;
	border-color: #a12a2a !important;
	color: #a12a2a !important;
}

#edit_notifications, #push_notifications {
	width: auto;
	padding: 10px;
	.rounded(5px);
}

#edit_notifications.warn, #push_notifications.warn {
	background-color: #f9edbe;
	border: 1px solid #f0c36d;
	color: #C59A47;
}

#shortname_ext.warn {
	border: 1px solid #f0c36d !important;
}

#edit_notifications.error, #push_notifications.error {
	background-color: #f9e8e8;
	border: 1px solid #CD665E;
	color: #CD665E;
}

#shortname_ext.error {
	border: 1px solid #CD665E !important;
}

#error_ui {
	margin: 0;
	margin-top: 5px;
	padding: 5px;
	list-style: none;

	li {
		margin: 0 0 10px 0;
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		padding-left: 30px;
		font-weight: normal;
	}

	li.warning {
		background: url(../images/warning.png) no-repeat 5px 1px;
		

		.type {
			color: #c59a47;
			font-weight: bold;
		}

		.cours_dets {
			font-weight: bold;
		}
	}

	li.error {
		background: url(../images/error.png) no-repeat 5px 1px;
		color:#6f6f6f;

		.type {
			color: #CD665E;
			font-weight: bold;
		}

		.cours_dets {
			font-weight: bold;
			color:#6f6f6f;
		}
	}
}